<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing community comment</h1>

  <%= render "form", community_comment: @community_comment %>

  <%= link_to "Show this community comment", @community_comment, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to community comments", community_comments_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
