<%= render ("layouts/dashboard") %>

  <div class="py-6">
    <div class="max-w-3xl mx-auto sm:px-6 lg:max-w-7xl lg:grid lg:grid-cols-12 lg:gap-8">
      <div class="hidden lg:block lg:col-span-4 xl:col-span-3">
        <%= render ("layouts/dashboard_menu") %>
      </div>
      <main class="lg:col-span-8 xl:col-span-6">
        <div class="h-64 w-full bg-gray-200 p-4">
          Encara no tens dades
        </div>
      </main>
      <aside class="hidden xl:block xl:col-span-3">
        <div class="sticky top-6 space-y-4">
          <div class="h-64 w-full bg-gray-200 p-4">
          Encara no tens dades
        </div>
        </div>
      </aside>
    </div>
  </div>
</div>