<div class="h-screen flex overflow-hidden bg-white">
  
  <%= render ("layouts/mobile_navigation") %>
  <%= render ("layouts/desktop_navigation") %>
  
  <div class="flex flex-col w-0 flex-1 overflow-hidden">
    <%= render ("layouts/top_bar") %>

    <main class="flex-1 relative overflow-y-auto focus:outline-none" tabindex="-1">
      <div class="bg-gray-100">
        <div class="max-w-7xl mx-auto py-8 px-4 sm:px-6 lg:px-8">
          <ul class="grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-3 sm:gap-x-6 lg:grid-cols-4 xl:gap-x-8">
          <% @videos.each do |video| %>
            <%= render partial: "thumbnail", locals: {video: video} %>
          <% end %>
          </ul>
        </div>
      </div>
    </main>
  </div>
</div>
