<%= render ("layouts/dashboard") %>
  
    <main class="flex-1">
      <div class="mt-6">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
          <h1 class="font-bold text-2xl mb-4"><%= t('.title_videos') %></h1>

          <% @videos.each do |video| %>
            <div class="border-b py-4">
              <%= link_to video.title, edit_video_path(video), class: "hover:text-gray-600" %>
            </div>
          <% end %>
          
        </div>
      </div>
    </main>
  </div>
</div>