  <%= render ("layouts/dashboard") %>
  
    <main class="flex-1">
      <div class="py-6 mt-6">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
          <h1 class="font-bold text-4xl">New video</h1>

          <%= render "form", video: @video %>

          <%= link_to 'Back to videos', videos_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
        </div>
      </div>
    </main>
  </div>
</div>