<div data-controller="debounce"></div>
<%= form_with url: search_accounts_path, method: :post, data: {controller: "debounce", debounce_target: "form"} do |form| %>
  <div class="max-w-lg flex rounded-md shadow-sm">
    <span class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 sm:text-sm">
      @
    </span>
    <%= form.hidden_field :destination_account, value: destination_account %>
    <%= form.search_field :username_search, data: {action: "input->debounce#search"}, class: "flex-1 block w-full focus:ring-blue-500 focus:border-blue-500 min-w-0 rounded-none rounded-r-md sm:text-sm border-gray-300" %>
  </div>
<% end %>

<div id="search_results">
  
</div>